# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>

# platform: osx-64
_anaconda_depends=2019.03=py37_0

# python

python=3.7.3=h359304d_0


# pandas
pandas=0.24.2=py37h0a44026_0

# os


# numpy
numpy=1.19.0=pypi_0
numpydoc=0.8.0=py37_0

# nibabel
nibabel=2.5.1=py_0

# sklearn


scikit-image=0.14.2=py37h0a44026_0
scikit-learn=0.20.3=py37h27c97d8_0


# rpy2

#rpy 2
r=3.6=r36_1004
rpy2=2.9.4=py37r36h1d22016_0
tzlocal=1.5.1=py37_0




# matplotlib

matplotlib=3.0.3=py37h54f8f79_0
matplotlib-base=3.1.1=py37h3a684a6_1

# markdown

markdown=3.2.2=pypi_0
