# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>

# platform: osx-64
#_anaconda_depends=2019.03=py37_0

# pandas
pandas==0.24.2


# numpy
numpy==1.19.0


# nibabel
nibabel==2.5.1

# sklearn


scikit-image==0.14.2
scikit-learn==0.20.3


# rpy2

#rpy 2
rpaths==0.13
rpy2==2.9.4
tzlocal==1.5.1




# matplotlib

matplotlib==3.0.3
matplotlib-base==3.1.1

# markdown

markdown==3.2.2
